USE [nDocs_Preprod]
GO
/****** Object:  Table [dbo].[IP]    Script Date: 2018-08-07 10:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IP](
	[IPId] [int] IDENTITY(1,1) NOT NULL,
	[EmisorId] [int] NOT NULL,
	[DireccionIP] [varchar](32) NOT NULL,
	[Activa] [bit] NOT NULL,
 CONSTRAINT [PK_IP] PRIMARY KEY CLUSTERED 
(
	[IPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IP]  WITH CHECK ADD  CONSTRAINT [FK_IP_Emisor] FOREIGN KEY([EmisorId])
REFERENCES [dbo].[Emisor] ([Id])
GO
ALTER TABLE [dbo].[IP] CHECK CONSTRAINT [FK_IP_Emisor]
GO
