USE [nDocs_Preprod]
GO
/****** Object:  Table [dbo].[ListaNegraBorrar]    Script Date: 2018-08-07 10:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaNegraBorrar](
	[Email] [varchar](300) NULL,
	[RazonSocialTemp] [varchar](300) NULL
) ON [PRIMARY]
GO
