USE [nDocs_Preprod]
GO
/****** Object:  Table [Seguridad].[AplicacionMenu]    Script Date: 2018-08-07 10:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[AplicacionMenu](
	[AplicacionMenuID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AplicacionMenu] PRIMARY KEY CLUSTERED 
(
	[AplicacionMenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
