USE [nDocs_Preprod]
GO
/****** Object:  Table [Seguridad].[RolUrl]    Script Date: 2018-08-07 10:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[RolUrl](
	[URLId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
	[RolUrlId] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_RolUrl] PRIMARY KEY CLUSTERED 
(
	[RolUrlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Seguridad].[RolUrl]  WITH CHECK ADD  CONSTRAINT [FK_RolUrl_Rol1] FOREIGN KEY([RolId])
REFERENCES [Seguridad].[Rol] ([RolId])
GO
ALTER TABLE [Seguridad].[RolUrl] CHECK CONSTRAINT [FK_RolUrl_Rol1]
GO
ALTER TABLE [Seguridad].[RolUrl]  WITH CHECK ADD  CONSTRAINT [FK_RolUrl_URL1] FOREIGN KEY([URLId])
REFERENCES [Seguridad].[URL] ([URLId])
GO
ALTER TABLE [Seguridad].[RolUrl] CHECK CONSTRAINT [FK_RolUrl_URL1]
GO
